:root {
    --rojo-code: #d0463f;
    --verde-code: #9bd75e;
    --morado-code: #c36088;
    --azul-code: #6f86f7;
    --amarillo-code: #ccaa20;
    --gris-code: #7a7a7a; 
}

section.hero_right {
    position: relative;
    height: 90%;
    margin-top: 4rem;
    align-self: flex-start;
}

section.hero_right img{
    position: sticky;
    top: 0;
}

section.texto_reto {
    width: 100%;
    padding: 2rem;
}

section.texto_reto > p {
    line-height: 1.5;
    margin-bottom: .75rem;
}

section.texto_reto > p > span {
    color: var(--dorado);
}

code {
    width: 100%;
}

code > pre {
    width: 50vw;
    padding: 2rem;
    background-color: var(--negro);
    margin-bottom: 1rem;
    overflow-x: auto;
    line-height: 1.2;
}

code.solucion_reto pre {
    width: 100%;
    font-size: 1rem;
}

.morado {
    color: var(--morado-code);
}

.verde {
    color: var(--verde-code);
}

.rojo {
    color: var(--rojo-code);
}

.azul {
    color: var(--azul-code);
}

.amarillo {
    color: var(--amarillo-code);
}

.gris {
    color: var(--gris-code);
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

h2.titulo {
    width: 75%;
    font-size: 3.5rem;
    text-align: center;
    color: var(--dorado);
    text-shadow: 1px 1px 2px var(--negro), 0 0 .8rem var(--dorado);
}

ul.lista_texto {
    margin-left: 1rem;
}


pre::-webkit-scrollbar,
pre::-webkit-scrollbar {
    height: 7px;
    background-color: var(--negro);
}

pre::-webkit-scrollbar-thumb,
pre::-webkit-scrollbar-thumb {
    background-color: var(--dorado);
    border-radius: .5rem;
}

@media screen and (max-width: 768px) {
    section.hero {
        display: flex;
        flex-direction: column-reverse;
    }
    
    section.hero_right {
        margin-top: 4rem;
        align-self: center;
    }

    code > pre{
        width: 82vw;
        overflow-x: auto;
    }
}

@media screen and (max-width: 576px) {
    h2.titulo {
        font-size: 2rem;
    }
}

@media screen and (max-width: 450px) {
    main {
        padding: 2rem 1rem;
    }
    section.texto_reto {
        width: 90%;
        padding: 2rem 0;
    }

    code > pre {
        padding: 1rem;
        font-size: .75rem;
    }

    code.solucion_reto pre {
        width: 82vw;
    }
}